* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.body {
  background-color: #ffffff;
}

.body {
  min-height: 100%;
  background-color: #9b9b6b;
}

.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #bb2222;
}

.sidebar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  background-color: #8b4040;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.sidebar:hover {
  width: 180px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content {
  background-color: #796b9b;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #719b6b;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header:hover {
  height: 180px;
}

.main {
  min-height: 1200px;
  background-color: #45bbb5;
}

.footer {
  height: 200px;
  background-color: #374d34;
}
