.header {
    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;

    &__logo {
    }

    &__logo-image {
    }

    &__search {
    }

    &__navigation {
    }
}


.search {
    &__input {
    }

    &__submit {
    }
}


.main-navigation {

    &__list {
    }

    &__item {
    }

    &__link {
    }
}

.user-navigation {
    
    &__list {
    }

    &__item {
    }

    &__link {
    }
}



