.header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    background-color: #584f80;

    &__logo {
        
    }

    &__logo-image {
    }

    &__search {
        flex-shrink: 0;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


.search {
    &__input {
    }

    &__submit {
    }
}


.main-navigation {

    &__list {
        display: flex;
    }

    &__item {
    }

    &__link {
    }
}

.user-navigation {
    
    &__list {
        display: flex;
    }

    &__item {
    }

    &__link {
    }
}



