.container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: #b994b7;

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #777777;
    }
}


.main {
    flex-grow: 1;
    background-color: #3f3f3f;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 100;
    flex-basis: 60px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #5b8f5b;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    &:hover {
        height: 180px;
    }

    &__list {
        opacity: 1;
    }
}

.general-section {
    min-height: 300px;
    padding: 40px;
    margin: 20px;
    border: 1px dotted white;
    // background-color: rgb(83, 163, 107);
}

.footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: #2b87d3;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    &:hover {
        height: 180px;
    }
}