.body {
    min-height: 100%;
    background-color: rgb(155, 155, 107);
}

.container {
    width: 100%;
    // max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgb(187, 34, 34);
}

.wrapper {
}

.sidebar {
    flex-shrink: 0;
    width: 80px;
    background-color: rgb(139, 64, 64);
    transition-timing-function: ease;
    transition-duration: 0.3s;

    &:hover {
        width: 180px;
    }
}

.wrapper {
    display: flex;

    &__inner {
        flex-grow: 1;
    }
}

.content {
    background-color: rgb(121, 107, 155);
}

.header {
    height: 80px;
    width: 100%;
    background-color: rgb(113, 155, 107);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    &:hover {
        height: 180px;
    }
}

.main {
    min-height: 1200px;
    background-color: rgb(69, 187, 181);
}

.footer {
    height: 200px;
    background-color: rgb(55, 77, 52);
}